{{#if addNewTag}}
<h5>New Tag</h5>
<div>
  <form class="form">
    <div class="form-group">
      <label for="name">Tag Name</label>
      {{input value=name id="name"}}
    </div>
    <button {{action 'saveTag'}}>Save</button>
    </form>
  </div>
  {{else}}
  <button{{action 'tagFormShow'}}>Tag</button>
  {{/if}}
