
{{#if isSignUpShowing}}
  <form class= "signInForms">
    <div class="form-group row">
      <label for="first-name" class="col-md-2 col-form-label">First Name</label>
      <div class="col-md-5">
        <input type="text" class="form-control" id="first-name" placeholder="Joe">
      </div>
    </div>
    <div class="form-group row">
      <label for="last-name" class="col-md-2 col-form-label">Last Name</label>
      <div class="col-md-5">
        <input type="text" class="form-control" id="last-name" placeholder="Doe">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-md-2 col-form-label">Email</label>
      <div class="col-md-5">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-md-2 col-form-label">Password</label>
      <div class="col-md-5">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <div class=" col-md-5">
        {{#link-to 'dashboard'}}<button type="click" class="btn btn-primary" id="log-in">Sign in</button>{{/link-to}}
      </div>
    </div>
  </form>

{{else}}
<button {{action 'signUpShow'}} id="sign-in-button">Sign up</button>
{{/if}}

{{#if isLogInShowing}}

  <form class= "signInForms">
    <div class="form-group row">
      <label for="inputEmail3" class="col-md-2 col-form-label">Email</label>
      <div class="col-md-5">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-md-2 col-form-label">Password</label>
      <div class=" col-md-5">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>

    <div class="form-group row">
      <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Remember me
        </label>
      </div>
    </div>

    <div class="form-group row">
      <div class=" col-md-5">
        {{#link-to 'dashboard'}}<button type="click" class="btn btn-primary" id="log-in">Sign in</button>{{/link-to}}
      </div>
    </div>
  </form>

{{else}}
<button {{action 'logInShow'}} id="log-in-button">Log In</button>
{{/if}}
