#logo {
  height: 50px;
  width: 100px;
}

.nav {
  height: 70px;
}

.thumbnail {
   text-align: center;
   width: 100%;
   overflow: auto;
   height: 600px;
   padding: 10px;
 }

.caption {
  text-align: left;
  max-height: 236px;
}

.image img{
  height: 400px;
  width: 100%;
  position: relative;
}

.getStarted form{
  text-align: center;
  margin-left: 200px;
}

.signInForms{
  margin: 10px;
  margin-top: 70px;
}
