#logo {
  height: 50px;
  width: 100px;
}

.nav {
  height: 70px;
}

.thumbnail-title {
   text-align: center;
   width: 100%;
   overflow: auto;
   height: 600px;
   padding: 10px;
 }

.caption {
  text-align: left;
  max-height: 236px;
}

.image img{
  height: 400px;
  width: 100%;
  position: relative;
}

.getStarted form{
  text-align: center;
  margin-left: 200px;
  height: 500px;
  margin: 40px;
}

.signInForms{
  margin-top: 70px;
  margin-left: 1000px;
}

#log-in-button {
  margin-left: 50px;
  text-align: center;
  margin-top: 200px;
}

#sign-in-button {
  margin-left: 500px;
  text-align: center;
}

.bigFeature {
  height: 500px;
}

.bigFeature img {
  height: 600px;
  width: 90%;
  margin-left: 65px;
}

.smallArticles {
  text-align: center;
  margin-top: 200px;
  background-color: #eaecef;
}


.thumbnail-image {
  max-height: 600px;
  align-items: center;
  display: block;
}

#feature-title {
  text-align: center;
  margin: 20px;
}
.featured-body{
  margin-top: 20px;
}

.detail-thumbnail{
  width: 600px;
  text-align: center;

}

#new-comment {
  float: left;
}

.comment {
  margin-left: -100px;
  padding-right: 100px;
}

.comment .panel-body {
  max-height: 300px;
  overflow: auto;
}

.edit {
  margin-top: -250px;
}

.tag {
  margin-top: 30px;
  margin-left: -90px;
    padding-right: 110px;
}

#new-comment-button {
  margin-left: 200px;
}

#edit-scroll {
  max-height: 200px;
  overflow: auto;
}
