<h1>Welcome to Blog</h1>
<div class="row">
  <div class="bigFeature">
    <img src="/assests/images/posts.jpeg" alt="" />
  </div>
</div>

<div class="row">
  <div class="getStarted">

    {{sign-in-tile}}

  </div>
</div>

<div class="row">
  <div class="smallArticles">
      <h1 id="feature-title">Featured Posts</h1>
      <div class="featured-body">
        <div class="row">
        <div class="col-md-3 text">
          <img class ="thumbnail-image" src="https://s-media-cache-ak0.pinimg.com/564x/13/ad/cc/13adcc290fc080f9eb23a2d9cfaf117b.jpg" alt="" />


        </div>
        <div class="col-md-3 text">
          <img class ="thumbnail-image" src="https://s-media-cache-ak0.pinimg.com/564x/d1/e2/25/d1e225a6ca54882b40bbcd4c5dbc60a1.jpg" alt="" />

        </div>

        <div class="col-md-3 text">
          <img class ="thumbnail-image" src="https://s-media-cache-ak0.pinimg.com/564x/88/0d/8b/880d8bc345ba8283c779538912a0dab4.jpg" alt="" />

        </div>
      </div>
    </div>
  </div>
</div>
