<p>
  <img src="{{model.image}}" alt="image-post" />
</p>
{{post-detail post=model destroyPost="destroyPost" destroyReview="destroyReview"}}

{{update-post post=model update="update"}}

{{new-review saveReview="saveReview" post=model}}
