{{post-detail post=model destroyPost="destroyPost" destroyReview="destroyReview"}}

<div class="row">
  <div class="col-md-7">

  </div>

  <div class="col-md-4 edit panel-default">
    <div class="panel-heading">
      <h5>Edit</h5>
    </div>
    <div class="panel-body">
      <div class="row" id="edit-scroll">
        <div class="col-md-1" id="update-button">
          {{update-post post=model update="update"}}<br>

        </div>
        <div class="col-md-1" id="new-comment-button">
          {{new-review saveReview="saveReview" post=model}}

        </div>
      </div>

    </div>
  </div>

</div>
